/* 
gold #f39c12
*/


html {
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a1a1d;
    color: #f5ebe0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;
    padding-top: 6.25rem;
    margin: 0 25%;
}

/******************************************************************************************************************************************************************************************************
/* header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6.0625rem;
    background-color: #17141a;
    box-shadow: 0 0 5px 0 #9300ff7d;
}

.header {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 6.0625rem;
    padding: 1.25rem;
}

h1 {
    font-family: "Rampart One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

h1 a {
    color: #957b95;
    text-decoration: none;
}

h2 {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    margin-right: 2.5rem;
}

nav a {
    color:#fbb3b3;
    text-decoration: none;
}

.header h1 {
    flex: 1;
}

/******************************************************************************************************************************************************************************************************
/* content */

.content {
    flex: 1;
}

.about {
    margin: 2rem 0;
    padding-bottom: 5rem;
}

.about #flex {
    display: flex;
    flex-direction: row;
}

.about #art {
    flex: 1;
}

.about #art figcaption {
    font-style: italic;
    font-size: 0.9rem;
}

.about #art img {
    height: 500px;
}

.projects {
    margin: 2rem 0;
}

.projects ul {
    list-style: square;
    font-size: 1.5rem;
    margin-left: 1.5rem;
}

.projects ul a {
    color: #2c3e50;
}

.contact {
    margin: 2rem 0;
}

.contact ul {
    list-style: square;
    font-size: 1.5rem;
    margin-left: 1.5rem;
}

.contact li {
    margin: 0.25rem 0;
}

.contact ul a {
    color: #2c3e50;
}

h3 {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.75rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

p {
    font-family: "Iceland", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75rem;
}

/******************************************************************************************************************************************************************************************************
/*queries*/

@media screen and (max-width: 1675px) {
    h3 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.15rem;
        margin-right: 0;
    }
    .about #art img {
        height: 250px;
    }
    .about #flex p {
        font-size: 1rem;
    }
} /* small screen */

@media screen and (max-width: 950px) {
    h1 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1rem;
    }
    .about #art img {
        height: 150px;
    }
    .about #art figcaption {
        font-size: 0.5rem;
    }
    .about #flex p {
        font-size: 0.75rem;
    }
    .projects ul {
        font-size: 0.8rem;
    }
} /* smaller screen */

/******************************************************************************************************************************************************************************************************
/* footer */
footer {
    padding: 2rem;
    box-sizing: border-box;
    width: 100%;
}

footer nav {
    text-align: center;
}

footer #blue {
    color: #5BCEFA;
}

footer #pink {
    color: #F5A9B8;
}

footer #white {
    color: #FFFFFF;
}
