/* 
gold #f39c12

linear-gradient();
*/


html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a1a1d;
    color: #f5ebe0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;
    /*padding-top: 6.25rem;*/
    margin: 0 25%;
}


/******************************************************************************************************************************************************************************************************
/* animations */

/* initial state for fade-in section */
.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);  /* start 20vh below normal position */
    visibility: hidden;
    will-change: opacity, transform;
}

/* fade-in animation */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(20vh);  /* start off-screen */
    }
    100% {
        opacity: 1;
        transform: translateY(0);  /* end at normal position */
    }
}

/* when the section is visible (fades in and moves up) */
.fade-in-section.is-visible {
    visibility: visible;  /* make visible */
    animation: fadeInAnimation 1.2s ease-out forwards;  /* trigger fade-in animation */
}

/* Initial state for fade-out sections */
.fade-out-section {
    opacity: 1;
    transform: translateY(0);  /* start at normal position */
    visibility: visible;
    will-change: opacity, transform;
}

/* fade-out animation when element exits top of page */
@keyframes fadeOutFromTop {
    0% {
        opacity: 1;
        transform: translateY(0);  /* start at normal position */
    }
    50% {
        opacity: 0;
    }
    90% {
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20vh); /* move to start position */
        visibility: hidden;
    }
}

/* when the section is hidden */
.fade-out-section.fade-out-from-top.is-hidden {
    animation: fadeOutFromTop 0.6s ease-out forwards;  /* trigger fade-out and move up */
}

/* fade-out animation when element exits bottom of page */
@keyframes fadeOutFromBottom {
    0% {
        opacity: 1;
        transform: translateY(0);  /* start at normal position */
    }
    10% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: translateY(20vh); /* move to start position */
        visibility: hidden;
    }
}

/* when the section is hidden */
.fade-out-section.fade-out-from-bottom.is-hidden {
    animation: fadeOutFromBottom 0.6s ease-out forwards;  /* trigger fade-out and move down */
}


/******************************************************************************************************************************************************************************************************
/* header */

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 6.0625rem;
    background-color: #17141a;
    box-shadow: 0 0 5px 0 #9300ff7d;
}

.header {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 6.0625rem;
    padding: 1.25rem;
}

h1 {
    font-family: "Rampart One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

h1 a {
    color: #957b95;
    text-decoration: none;
}

h2 {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    margin-right: 2.5rem;
}

nav a {
    color:#fbb3b3;
    text-decoration: none;
}

.header h1 {
    flex: 1;
}

/******************************************************************************************************************************************************************************************************
/* content */

.content {
    flex: 1;
}


.about, .projects {
    margin: 2rem 0;
    height: 90vh;
    display: grid;
    align-content: center;
}

.about #flex {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.about #art {
    flex: 1;
}

.about #art figcaption {
    font-style: italic;
    font-size: 0.9rem;
}

.about #art img {
    height: 500px;
}


.projects ul {
    list-style: square;
    font-size: 1.5rem;
    margin-left: 1.5rem;
}

.projects ul a {
    color: #2c3e50;
}

.projects #backpack {
    height: 400px;
    margin: 1rem 0 1rem 0;
}


.contact {
    padding-top: 6rem;
    margin: 2rem 0;
}

.contact ul {
    list-style: square;
    font-size: 1.5rem;
    margin-left: 1.5rem;
}

.contact li {
    margin: 0.25rem 0;
}

.contact ul a {
    color: #2c3e50;
}

h3 {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.75rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

h3 a {
    color: #f5ebe0;
    text-decoration: none;
    transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    display: inline-block;
}

h3 a:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

p {
    font-family: "Iceland", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75rem;
}

li {
    font-family: "Iceland", Arial, Helvetica, sans-serif;
}

/******************************************************************************************************************************************************************************************************
/*grid*/

.grid {
    margin: 2rem 0;
    padding-top: 6rem;
}

.container {
    position: relative;
    height: 800px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-areas: "a b" "c b" "c d" "c e";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 2fr;
    gap: 10px;
}

.grid li {
    text-align: center;
    font-size: 3rem;
    border: 3px solid #776481;
    background-color: #2f2f2f;
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.e {
    grid-area: e;
}


/******************************************************************************************************************************************************************************************************
/*queries*/

@media screen and (max-width: 1675px) {
    body {
        margin: 0 20%;
    }
    h3 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.15rem;
        margin-right: 0;
    }
    .about #art img {
        height: 250px;
    }
    .about #flex p {
        font-size: 1.5rem;
    }
    footer nav p {
        font-size: 1.75rem;
    }
} /* small screen */

@media screen and (max-width: 950px) {
    body {
        margin: 0 10%;
    }
    h1 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1rem;
    }
    .about #art img {
        height: 150px;
    }
    .about #art figcaption {
        font-size: 0.5rem;
    }
    .about #flex p {
        font-size: 0.75rem;
    }
    .projects ul {
        font-size: 0.8rem;
    }
    .projects #backpack {
        height: 175px;
    }
    .contact li {
        font-size: 0.8rem;
    }
} /* smaller screen */

/******************************************************************************************************************************************************************************************************
/* footer */
footer {
    padding: 2rem;
    box-sizing: border-box;
    width: 100%;
}

footer nav {
    text-align: center;
}

footer nav p {
    font-size: 1.75;
}

footer #blue {
    color: #5BCEFA;
}

footer #pink {
    color: #F5A9B8;
}

footer #white {
    color: #FFFFFF;
}
